<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>%TITLE%</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/layout/css/normalize.1.css">
<link rel="stylesheet" href="/layout/css/main.2.css">
<link rel="stylesheet" href="/layout/css/highlight.73.css">
</head>
<body>
    <div id="header"><h1><a href="/">Papaya Fiction</a></h1></div>
    <div id="wrapper">
        <nav id="submenu">
            <ul>
                %MENU%
            </ul>
            <br style="clear:both;">
        </nav>
        <div id="content">
            %CONTENT%
        </div>
        <br style="clear:both;">
        <footer><a href="/pages/impressum">Impressum</a></footer>
    </div>
    <script src="/layout/js/highlight.min.73.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>