<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>%TITLE%</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="layout/css/normalize.1.css">
<link rel="stylesheet" href="layout/css/main.1.css">
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/zenburn.min.css">
</head>
<body>
    <div id="header"><h1>Papaya Fiction</h1></div>
    <div id="wrapper">
        <div id="content">
            %CONTENT%
        </div>

        <nav id="submenu">
            <ul>
                %MENU%
            </ul>
        </nav>
        <br style="clear:both;">
        <footer><a href="/pages/impressum">Impressum</a></footer>
    </div>
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>